/* General references */

body {
    background-color: #1F2937;
    color: black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

/* Class references */

.nav-panel {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
}

.nav-panel ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.title-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 390px;
    padding-bottom: 75px;
}

.title-container-one {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.title-container-two > img {
    color:white;
    width: 300px;
}

.card-section {
    color: black;
    padding: 10px; 
    text-align: center;
    background-color: azure;
    padding-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-container div {
    width: 200px;
}

.card-container img {
    width: 200px;
    height: 200px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 20px;
}

.quote {
    width: 60%;
}

.quote > h3 {
    text-align: right;
}

.sign-up-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    margin: 30px 10px;
    padding: 20px 30px;
    border-radius: 10px;
    width: 40%;
    justify-content: space-evenly;
    color: white;
    display: flex;
    background-color: #3882f6;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    
}

.sign-up-container button {
    color: white;
    border-color: white;
    border-radius: 10px;
    background-color: #3882f6;
    align-self: center;
    height: 25px;
    width: 100px;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ID references */

#title-button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
    color: white;
    width: 100px;
}