/* General references */

body {
    background-color: #1F2937;
    color: black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Class references */

.nav-panel {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
}

.nav-panel ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.title-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 390px;
    padding-bottom: 75px;
}

.title-container-one {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.title-container-two > img {
    color:white;
    width: 300px;
}

.card-section {
    color: black;
    padding: 10px; 
    text-align: center;
    background-color: azure;
    padding-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-container div {
    width: 200px;
}

.card-container img {
    width: 200px;
    height: 200px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 20px;
}

.quote {
    width: 60%;
}

.quote > h3 {
    text-align: right;
}

.sign-up-section {
    background-color: aquamarine;
}

.footer-section {
    background-color: blue;
}

/* ID references */

#title-button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
    color: white;
    width: 100px;
}